* {
    font-family: "Pretendard";
}

/* 폰트 */
/* 폰트 */
/* 폰트 */
/* 폰트 */
/* 폰트 */

.font-11 {
    font-size: 11px;
}

.font-13 {
    font-size: 13px;
}

.font-14 {
    font-size: 14px;
}

.font-15 {
    font-size: 15px;
}

.font-16 {
    font-size: 16px;
}

.font-22 {
    font-size: 22px;
}

.semibold {
    font-weight: 600;
}

/* 폰트 */
/* 폰트 */
/* 폰트 */
/* 폰트 */
/* 폰트 */
